<header class="site-header" role="banner" style="padding-top: 10px;">

	<div class="container">
		<div style="float: left;">
			<p>
				<a href="/" style="font-size: 30px; text-decoration: none; color: #000;">{{ site.title | escape }}
				</a>
				<span style="padding-left: 16px;">{{site.description}}</span>
				<span id="busuanzi_container_site_pv" style="margin-bottom: 15px; color: rgb(120,120,120); font-size: 16px;"> | 访问量: <span id="busuanzi_value_site_pv"></span>次</span>
			</p>
		</div>
		{%- if page.url == "/" -%}
		<form class="navbar-form navbar-right" role="search">
			<div class="form-group">
				<input type="text" class="form-control" id="search-input" placeholder="搜索">
			</div>
		</form>
		{%- endif -%}
	</div>
</header>
