---
layout: default
---

{{ content }}
<div class="container">
	<div class="row">
		<div class="col-md-3">
			{%- include sidebar.html -%}
		</div>
		<div class="col-md-8" role="main">
			{% for post in site.posts %}
			<ul class="breadcrumb">
				<li style="width: 100%"><a class="postlink" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><span style="float: right; color: #999999; font-weight: 300;">{{ post.date | date: "%B %e, %Y" }}</span></li>
			</ul>
			{% endfor %}
		</div>
	</div>
</div>
