---
layout: default
---

{{ content }}
<div class="container">
	<div class="row">
		<div class="col-md-3 hidden-xs">
			{%- include sidebar.html -%}
		</div>
		<div class="col-md-9" role="main" id="originalContainer">
			{%- include home_container.html -%}
		</div>
		<div class="col-md-9" role="main" id="resultsBackContainer" style="overflow: auto; display: none;">
			<h1 class="post-title p-name" itemprop="name headline" style="margin-left: 0px; margin-bottom: 30px;">搜索结果</h1>
			<div id="results-container">
				
			</div>
		</div>
	</div>
</div>
